@model IEnumerable<LMS.Core.Entities.Course>

@{
    var uploadId2 = @Url.RouteUrl(ViewContext.RouteData.Values).Last();
}

<div class="text-center justify-content-center">
    <h2 class="m-2 text-center text-muted">LMS Courses</h2>
    <a type="button" class="btn btn-outline-info m-2 text-center" asp-controller="Courses" asp-action="GetAllStudents">All Students</a>

    <hr />
    <br />

</div>
<div class="btn-group text-center m-2">
    <p type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="site-btn m-2 text-center">Create</p>
    <div class="dropdown-menu shadow">
        <a asp-controller="Courses" asp-action="Create" type="button" class="dropdown-item">Course</a>
        <a asp-controller="Modules" asp-action="Create" type="button" class="dropdown-item">Module</a>
        <a asp-controller="Activities" asp-action="Create" type="button" class="dropdown-item">Activity</a>
    </div>
</div>
<table class="table table-striped" id="drop2">
    <thead class="text-muted">
        <tr class="text-muted fs-3">
            <th> <h5>Title </h5></th>
            <th class="text-center text-muted"> <h5>Period </h5></th>
            <th class="text-center text-muted"> <h5>Start Date </h5></th>
            <th class="text-center text-muted"> <h5>Modules No.</h5></th>
            <th class="text-center text-muted"> <h5>Activities No.</h5> </th>
            <th> </th>
        </tr>
    </thead>

    <tbody class="table-body table table-striped">
        @foreach (var course in Model)
        {
            var itemID = course.Id;
            var newId = "test" + course.Id.ToString();
            var uploadId = "testNew" + course.Id.ToString();

            <tr class="table-light">
                <td class="text-left">
                    <div class="btn-group">
                        <p class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@course.Title</p>
                        <div class="dropdown-menu ">
                            @foreach (var mod in course.Modules)
                            {
                                <a asp-controller="Modules" asp-action="Details" asp-route-id="@mod.Id" type="button" class="dropdown-item">@mod.Title</a>
                            }
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    @{ var period = (int)(course.EndDate - course.StartDate).TotalDays / 30;}
                    <button disabled="" class="btn btn-light ">@period Month</button>
                </td>
                <td class="text-center">
                    @{ string date = $"{course.StartDate.ToString("dd/MMM/yyyy")}";}
                    <button disabled="" class="btn btn-light ">@date</button>
                </td>
                <td class="text-center">
                    <p class="btn btn-light "> @Html.DisplayFor(modelItem => course.Modules.Count)</p>
                </td>
                <td class="text-center">
                    @{ var numberOfActivities = 0; }

                    @foreach (var oneModule in course.Modules)
                    {
                        if (oneModule.Activities != null)
                        {

                            numberOfActivities += oneModule.Activities.Count;

                        }
                    }

                    <p class="btn btn-light ">@Html.DisplayFor(modelItem => numberOfActivities)</p>
                </td>
                <td>
                    <a class="btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course Students</a>
                    <div class="dropdown-menu ">

                        @foreach (var student in course.Students)
                        {
                            <a class="dropdown-item">Name: @student.FirstName @student.LastName <br />Email: @student.Email <hr /></a>
                        }
                    </div>

                </td>
                <td>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu ">
                        <a asp-controller="Courses" asp-action="Edit" asp-route-id="@course.Id" type="button" class="dropdown-item">Edit</a>
                        <a asp-controller="Courses" asp-action="Delete" asp-route-id="@course.Id" type="button" class="dropdown-item">Delete</a>
                        <a class="cell-1 dropdown-item" data-toggle="collapse" data-target="#@newId" aria-expanded="false">Description </a>
                        <a class="cell-1 dropdown-item" data-toggle="collapse" data-target="#@uploadId" aria-expanded="false" id="docId"> Upload Doc</a>
                    </div>
                </td>
            </tr>
            <tr id="@newId" class="collapse desc-text" aria-expanded="false">
                <td colspan="4" class="desc-text">
                    @Html.DisplayNameFor(modelItem => course.Description):
                    @Html.DisplayFor(modelItem => course.Description)
                </td>
            </tr>
            @if (course.Id.ToString() == uploadId2.ToString())
            {
                <tr id="@uploadId" class="desc-text table-info" aria-expanded="true">
                    <td colspan="3" class="desc-text">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="container justify-content-center">
                                    <div class="row justify-content-center">
                                        <div class="col-xs-4 justify-content-center">
                                            <input type="file" name="files" value="Upload" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Upload new file" multiple="multiple" />
                                            <button asp-controller="Courses" asp-action="UploadCourseDocument" asp-route-id="@course.Id" value="upload" class="btn btn-outline-danger" id="uploadBtn" data-toggle="collapse" data-target="#@uploadId" aria-expanded="false">Upload</button>
                                            <div class="clear"></div>
                                            @if (ViewBag.Message != null)
                                            {
                                                <div class="alert alert-success" style="margin-top:50px">
                                                    @ViewBag.Message
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>

                    <th colspan="2">
                        File Name
                    </th>
                    <th>
                        Uploaded Time
                    </th>
                    <th class="table-info" colspan="1"></th>
                </tr>


                @foreach (var item in course.Documents)
                {
                    string uploadDate = $"{item.UploadTime.ToString("dd/MMM/yyyy")}";

                    <tr id="@uploadId" class="desc-text" aria-expanded="false">
                        <td colspan="3"></td>
                        <td colspan="2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => uploadDate)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Documents" asp-action="Download"
                               asp-route-filename="@item.Name">
                                <i class="fas fa-download"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {

                <tr id="@uploadId" class="collapse table-info" aria-expanded="true">
                    <td colspan="3" class="desc-text">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="container justify-content-center">
                                    <div class="row justify-content-center">
                                        <div class="col-xs-4 justify-content-center">
                                            <input type="file" name="files" value="Upload" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Upload new file" multiple="multiple" />
                                            <button asp-controller="Courses" asp-action="UploadCourseDocument" asp-route-id="@course.Id" value="upload" class="btn btn-outline-danger" id="uploadBtn" data-toggle="collapse" data-target="#@uploadId" aria-expanded="false">Upload</button>
                                            <div class="clear"></div>
                                            @if (ViewBag.Message != null)
                                            {
                                                <div class="alert alert-success" style="margin-top:50px">
                                                    @ViewBag.Message
                                                </div>}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>

                    <th colspan="2">
                        File Name
                    </th>
                    <th>
                        Uploaded Time
                    </th>
                    <th class="table-info" colspan="1"></th>
                </tr>


                @foreach (var item in course.Documents)
                {
                    string uploadDate = $"{item.UploadTime.ToString("dd/MMM/yyyy")}";

                    <tr id="@uploadId" class="collapse desc-text" aria-expanded="false">
                        <td colspan="3"></td>
                        <td colspan="2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => uploadDate)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Documents" asp-action="Download"
                               asp-route-filename="@item.Name">
                                <i class="fas fa-download"></i>
                            </a>
                        </td>
                    </tr>
                }
            }


        }
    </tbody>
</table>

<script>
    //let table = document.getElementById("drop2");
    //let table2 = table.cloneNode(table);
    //let uploadBtn = document.getElementById("uploadBtn");
    //let allRows = document.querySelectorAll("TR");

    //let docId = document.getElementById("docId");
    //docId.addEventListener("click", () => {
    //    let courseId = uploadBtn.getAttribute("data-target");
    //    let modCourseId = courseId.slice(1);
    //    let row = document.getElementById(modCourseId);
    //    row.classList.add(row);
    //    row.classList.add(show);
    //    setTimeout(() => {
    //        allRows.forEach(r => {
    //            if (r.classList.contains(row)) {
    //                r.classList.add("show");
    //                r.classList.remove("collapse");

    //            }
    //        })
    //    }, 5000)
    //})
    //uploadBtn.addEventListener("click", () => {
    //    /*console.log("click");*/

    //    //console.log(courseId);
    //    //console.log(modCourseId);
    //    let courseId = uploadBtn.getAttribute("data-target");
    //    let modCourseId = courseId.slice(1);
    //    let row = document.getElementById(modCourseId);
    //    row.classList.add(row);
    //    setTimeout(() => {
    //        allRows.forEach(r => {
    //            if (r.classList.contains(row)) {
    //                r.classList.add("show");
    //                r.classList.remove("collapse");

    //            }
    //        })
    //    }, 5000)

    //});
    //setTimeout(() => {
    //    allRows.forEach(r => {
    //        if (r.classList.contains(row)) {
    //            r.classList.add("show");
    //            r.classList.remove("collapse");

    //        }
    //    })
    //},5000)

    //var target = document.querySelector('#drop2');

    // create an observer instance
    //var observer = new MutationObserver(function (mutations) {
    //    mutations.forEach(function (mutation) {
    //        console.log(mutation.type);
    //    });
    //});

    // configuration of the observer:
    //var config = { attributes: true, childList: true, characterData: true }

    // pass in the target node, as well as the observer options
    //observer.observe(target, config);

    // later, you can stop observing
    //observer.disconnect();
</script>
