@model IEnumerable<LMS.Core.Entities.Course>

<div class="text-center justify-content-center">
    <h2 class="m-2 text-center text-muted">LMS Courses</h2>
    <hr />
    <br />
    <div class="btn-group text-center m-2">
        <p type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="site-btn m-2 text-center">Create</p>
        <div class="dropdown-menu shadow">
            <a asp-controller="Courses" asp-action="Create" type="button" class="dropdown-item">Course</a>
            <a asp-controller="Modules" asp-action="Create" type="button" class="dropdown-item">Module</a>
            <a asp-controller="Activities" asp-action="Create" type="button" class="dropdown-item">Activity</a>
        </div>

        <a type="button" class="site-btn m-2 text-center" asp-controller="Courses" asp-action="GetAllStudents" style="width:max-content;">All Students</a>

    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr class="text-muted fs-3">
            <th> <h5>Title </h5></th>
            <th class="text-center text-muted"> <h5>Period </h5></th>
            <th class="text-center text-muted"> <h5>Start Date </h5></th>
            <th class="text-center text-muted"> <h5>Modules No.</h5></th>
            <th class="text-center text-muted"> <h5>Activities No.</h5> </th>
            <th> </th>
        </tr>
    </thead>

    <tbody class="table-body table table-striped">
        @foreach (var item in Model)
        {
            var itemID = @item.Id;
            var newId = "test" + item.Id.ToString();

            <tr>
                <td class="text-left">
                    <div class="btn-group">
                        <p class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Title</p>
                        <div class="dropdown-menu ">
                            @foreach (var mod in item.Modules)
                            {
                                <a asp-controller="Modules" asp-action="Details" asp-route-id="@mod.Id" type="button" class="dropdown-item">@mod.Title</a>
                            }
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    @{ var period = (int)(item.EndDate - item.StartDate).TotalDays / 30;}
                    <button disabled="" class="btn btn-light ">@period Month</button>
                </td>
                <td class="text-center">
                    @{ string date = $"{item.StartDate.ToString("dd/MMM/yyyy")}";}
                    <button disabled="" class="btn btn-light ">@date</button>
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Modules.Count)
                </td>
                <td class="text-center">
                    @{ var numberOfActivities = 0; }

                    @foreach (var oneModule in item.Modules)
                    {
                        if (oneModule.Activities != null)
                        {

                            numberOfActivities += oneModule.Activities.Count;

                        }
                    }

                    @Html.DisplayFor(modelItem => numberOfActivities)
                </td>
                <td>
                    <a class="btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course Students</a>
                    <div class="dropdown-menu ">

                        @foreach (var student in item.Students)
                        {
                            <a class="dropdown-item">Name: @student.FirstName @student.LastName <br />Email: @student.Email <hr /></a>
                        }
                    </div>

                </td>
                <td>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu ">
                        <a asp-controller="Courses" asp-action="Edit" asp-route-id="@item.Id" type="button" class="dropdown-item">Edit</a>
                        <a asp-controller="Courses" asp-action="Delete" asp-route-id="@item.Id" type="button" class="dropdown-item">Delete</a>
                        <a class="cell-1 dropdown-item" data-toggle="collapse" data-target="#@newId" aria-expanded="false">Description</a>
                    </div>
                </td>
            </tr>
            <tr id="@newId" class="collapse desc-text" aria-expanded="false">
                <td colspan="7" class="desc-text">
                    @Html.DisplayNameFor(modelItem => item.Description):
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>

        }
    </tbody>
</table>
@*<hr />
<div  class="row border border-secondary ml-2 mr-2"> <p>Courses</p></div>

<div class="row border border-secondary ml-2 mr-2">

    <div class="col-4 border border-secondary border-top-0">


        @foreach (var item in Model)
        {
            var id = @item.Id;
            var courseId = "c" + id.ToString();
        <ul id="myUL">
            <li class="course" id="courseId">
                <span class="caret"> <i class="fa fa-folder" aria-hidden="true" style="color:bisque"></i>Course: @item.Title</span>
                <ul class="nested ml-2">
                    @foreach (var module in item.Modules)
                    {
                        <li class="module">


                            <span class="caret ml-5"><i class="fa fa-folder" aria-hidden="true" style="color:bisque"> </i>Module: @module.Title</span>
                            <ul class="nested ml-5">
                                @foreach (var activity in module.Activities)
                                {

                                    <li class="activity">
                                        <span class="caret ml-5"> <i class="fa fa-folder" aria-hidden="true" style="color:bisque"></i>Activity: @activity.Name</span>
                                        <ul class="nested ml-5">
                                            @foreach (var doc in activity.Documents)
                                            {
                                                

                                                <li class="ml-5">@doc.Name</li>


                                            }
                                        </ul>
                                    </li>

                                }
                            <li>
                                <span class="caret ml-5"> <i class="fas fa-file-alt"></i>Additional Documents</span>
                                <ul class="nested ml-5">
                                    @foreach (var doc in module.Documents)
                                    {
                                   
                                        <li class="ml-5">@doc.Name</li>

                                   
                                            }
                                        </ul>
</li>
                            </ul>

                        </li>
                        

                    }

                    <li>
                        <span class="caret ml-5"> <i class="fas fa-file-alt"></i>Additional Documents</span>
                        @foreach (var doc in item.Documents)
                        {
                            <ul class="nested ml-5">
                                <li  class="ml-5">@doc.Name</li>

                            </ul>
                        }

                    </li>

                </ul>
            </li>
        
            
        </ul>
        }
    </div>
    <div class="col-8 border border-secondary border-top-0"  >
        <ul id="rp" >
            
        </ul>
     
        </div>
</div>*@






<!--<style>
    /* Remove default bullets */
    ul, #myUL,#rp {
        list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL,#rp {
        margin: 0;
        padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

        /* Create the caret/arrow with a unicode, and style it */
        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg);
    }


    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }
</style>
<script>-->
@*const { right } = require("@popperjs/core");*@

    <!--var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }

    let id = document.getElementById("courseId");
    let textNode = id.innerText;
    let rightPanel = document.getElementById("rp");
    let listItems = document.querySelectorAll("ul li");
    listItems.forEach(function (item) {
        item.onclick = function (e) {
            let newItem = item.cloneNode(true);
            let children = newItem.children;
            if (rightPanel.hasChildNodes()) {
                rightPanel.removeChild(rightPanel.childNodes[0]);
                rightPanel.appendChild(newItem);
            } else {
                
                rightPanel.appendChild(newItem);
            }
   
           
        }
    });
    //function getEventTarget(e) {
    //    e = e || window.event;
    //    return e.target || e.srcElement;
    //}

    //var ul = document.getElementById('myUL');
    //ul.onclick = function (event) {
    //    var target = event.target;
    //    alert(event.target.innerHTML);
    //};
    //id.addEventListener("click", () => {
    //    let listItem = this.parentElement.innerHTML;
    //    rightPanel.appendChild(listItem);
    //    console.log("click");
       
    //});
   
</script>-->





