@model IEnumerable<LMS.Core.Entities.Course>

<div class="row">
    <h4>LMS Courses</h4>
    <div class="btn-group">
        <p type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" font-size:24px">Create</p>
        <div class="dropdown-menu shadow">
            <a asp-controller="Courses" asp-action="Create" type="button" class="dropdown-item">Course</a>
            <a asp-controller="Modules" asp-action="Create" type="button" class="dropdown-item">Module</a>
            <a asp-controller="Activities" asp-action="Create" type="button" class="dropdown-item">Activity</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th> Title </th>
            <th class="text-center"> Period </th>
            <th class="text-center"> Start Date </th>
            <th class="text-center"> Modules No.</th>
            <th class="text-center"> Activities No. </th>
            <th> Description </th>
        </tr>
    </thead>

    <tbody class="table-body">
        @foreach (var item in Model)
        {
            var itemID = @item.Id;
            <tr>
                <td class="text-left">
                    <div class="btn-group">
                        <p class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Title</p>
                        <div class="dropdown-menu ">
                            @foreach (var mod in item.Modules)
                            {
                                <a asp-controller="Modules" asp-action="Details" asp-route-id="@mod.Id" type="button" class="dropdown-item">@mod.Title</a>
                            }
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    @{ var period = (int)(item.EndDate - item.StartDate).TotalDays / 30;}
                    <button disabled="" class="btn btn-light ">@period Month</button>
                </td> 
                <td class="text-center">
                    @{ string date = $"{item.StartDate.ToString("dd/MMM/yyyy")}";}
                    <button disabled="" class="btn btn-light ">@date</button>
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Modules.Count)
                </td>
                <td class="text-center">
                    @{  var numberOfActivities = 0; }
                      
                        @foreach (var oneModule in item.Modules)
                        {
                            if (oneModule.Activities != null)
                            {

                                numberOfActivities += oneModule.Activities.Count;

                            }
                        }
                  
                    @Html.DisplayFor(modelItem => numberOfActivities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>

