@model LMS.Core.Entities.Course

@{
    ViewData["Title"] = "UserMainPageViewModel";
}

<h5 id="student-name">@User.Identity.Name</h5>

@if (User.IsInRole("Teacher"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="row" id="userPage">
    <div class="col-6">
        <table class="table table-striped table-sm table-hover text-monospace">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modules.FirstOrDefault().EndDate)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Modules)
                {
                    <tr>
                        <td>
                            @{ var startModule = item.StartDate.ToString("yyyy-MM-dd"); var endModule = item.EndDate.ToString("yyyy-MM-dd"); }
                            <p>
                                @{ var moduleId = item.Id;}
                                <a style="color:black" href="@Url.Action("Index", new { moduleID = moduleId, currentModuleID = moduleId })">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </a>
                            </p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => startModule)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => endModule)
                        </td>
                        <td>

                            <a asp-action="Edit" asp-route-id="@item.Id">

                            </a>
                            <div class="btn-group">
                                <p type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" font-size:24px"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></p>
                                <div class="dropdown-menu shadow">
                                    <a asp-controller="Modules" asp-action="Details" asp-route-id="@item.Id" type="button" class="dropdown-item">Details</a>
                                    <a asp-controller="Modules" asp-action="Edit" asp-route-id="@item.Id" type="button" class="dropdown-item">Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <div id="my-div">
            <section class="categories-section spad">
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model.Modules.FirstOrDefault().Activities)
                        {
                            <!-- categorie -->
                            <div class=" col-sd-2">
                                <div class="categorie-item" id="card-main-item ">
                                    @{ var start = item.StartDate.ToString("yyyy-MM-dd"); var end = item.EndDate.ToString("yyyy-MM-dd");
                                        var activityIs = item.ActivityType.ToString(); var link = $"img/activity/{activityIs}.jpg";
                                    }
                                    <a asp-controller="Activities" asp-action="Details1" asp-route-id="@item.Id">
                                        <div class="ci-thumb set-bg" data-setbg=@link></div>
                                        <div class="ci-text">

                                            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                                            <p>@Html.DisplayFor(modelItem => item.ActivityType)</p>
                                            <span>@Html.DisplayFor(modelItem => start) -  @Html.DisplayFor(modelItem => end)</span>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
