@model LMS.Core.Models.PublicationWithAuthorsDto

@{
    ViewData["Title"] = "Details";
}

<h4 class="text-center text-muted m-2">Details</h4>
<div class="form-group text-center">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-danger">Edit</a>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
<hr />
<div class="row justify-content-center">


    <dl class="col-auto bg-light text-muted p-3">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class="col-sm-10">
            @foreach (var author in Model.Authors)
            {
                @string.Join(" ", author.FirstName, author.LastName)<br/>
            }
        </dd>
    </dl>

</div>
<hr />
