@model LMS.Core.Entities.Activity

@{
    ViewData["Title"] = "Details";
}

<div class="content justify-content-center">
    <div class="row cotainer-fluid">
        <div class="col-lg-1 "></div>
        <div class="col-lg-5  align-content-center mt-3 p-5">
            <h4 class="text-start  text-muted">
                <span class="mr-auto"> Title:</span>  <small class="ml-auto"> @Html.DisplayFor(model => model.Name)</small>
            </h4>
            <hr />
            <h4 class="text-start  text-muted">
                @{ var startD = @Model.StartDate.ToString("g"); var period = (Model.EndDate - Model.StartDate).TotalHours;
                    var show = Model.ActivityType.ToString() == "Assignments" ? false : true;
                }
                Start date: <small> @startD</small> <span hidden="@show">   |   Deadline: <small>@Model.Deadline</small></span>
            </h4>

            <hr />

            <h4 class="text-start  text-muted">
                Period: <small> @period Hours</small>
            </h4>

            <hr />

            <h4 class="text-start  text-muted">
                @Html.DisplayNameFor(model => model.Description) : <small>@Html.DisplayFor(model => model.Description) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
            </h4>

            <hr />

            <form asp-action="Delete">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="submit" value="Delete" class="btn site-btn" /> 
                
            </form>
        </div>
        <div class="col-lg-5 justify-content-center mt-5">
            @{ var activityIs = Model.ActivityType.ToString(); var link = $"/img/activity-c/{activityIs}.jfif";}
            <div class="row justify-content-center mt-2" id="f-container">
                <div id="list-items" class="row no-gutters ">
                    <img src="@link" style="width:auto; height:fit-content();" />
                </div>
                @if (User.IsInRole("Student"))
                {
                   
                    <form method="post" enctype="multipart/form-data" hidden="@show">
                        <div class="form-group">
                            <div class="container text-center justify-content-center">
                                <div class="row ">
                                    <div class="col-xs-4">
                                        <input type="file" name="files" value="Upload" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Upload new file" multiple="multiple" />
                                        <button asp-controller="Activities" asp-action="UploadActivity" asp-route-id="@Model.Id" value="upload" class="btn btn-outline-secondary">Upload</button>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
                @if (User.IsInRole("Teacher"))
                {
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="container">
                                <div class="row ">
                                    <div class="col-xs-4">
                                        <input type="file" name="files" value="Upload" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Upload new file" multiple="multiple" />
                                        <button asp-controller="Activities" asp-action="UploadActivity" asp-route-id="@Model.Id" value="upload" class="btn btn-outline-secondary">Upload</button>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>

        </div>

    </div>

    <div class="m-4">
        <h6 style="margin-top: 50px" class="m-2">List of downloaded files: </h6>
        <table class="table table-striped m-2">
            <thead>
                <tr>
                    <th>
                        File Name
                    </th>
                    <th>
                        Uploaded Time
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Documents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UploadTime)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Documents" asp-action="Download"
                               asp-route-filename="@item.Name">
                                <i class="fas fa-download"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (User.IsInRole("Teacher"))
        {
            <a asp-controller="modules" asp-action="Details" asp-route-id="@Model.ModuleId" class="btn site-btn">Back</a>
        }
        @if (User.IsInRole("Student"))
        {
            <a asp-controller="courses" asp-action="Index" class="btn site-btn">Back</a>

        }
    </div>
</div>
