@model LMS.Core.Entities.Activity

@{
    ViewData["Title"] = "Details";
}
<div class="text-center">


    <h3  class="mt-3  site-btn">Activity Details</h3>

    <div class="justify-content-center m-auto ">
       
        <hr />
        <dl class="row table table-striped w-25 m-auto bg-secondary">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ActivityType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ActivityType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div>
        @{ var show = Model.ActivityType.ToString() == "Assignments" ? false : true;

            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="file" name="files" value="Upload" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Upload new file" multiple="multiple" />
                                <button type="submit" value="upload" class="btn btn-outline-secondary">Upload</button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        }

        <a asp-controller="courses" asp-action="Index" class="site-btn m-2">Back to List</a>
    </div>
</div>