@model IEnumerable<LMS.Core.Entities.Activity>

@{
    ViewData["Title"] = "Index";
}
<hr />
<form asp-action="" asp-controller="" class="course-search-form w-75 justify-content-center container-fluid m-auto" style="left:100px;">
    <input name="" type="text" placeholder="Search Activity" class="w-75 m-1">
    <button type="submit" class="site-btn m-1">Search Activity</button>
</form>

<hr />


<p>
    <a asp-action="Create" class="site-btn mt-3">Create New</a>
</p>
<table class="table table-striped text-muted">
    <thead class="bg-light text-muted">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td colspan="3">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary" style="font-size:11px;">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info" style="font-size:11px;">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" style="font-size:11px;">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
